.js-disabled .intro {
    display: none;
}

.intro {
    height: 100vh;
    width: 100vw;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: white;
    position: fixed;
    top: 0;
    left: 0; 
    transition: transform 1s ease-out;
}

.intro-content {
    position: relative;
    transition: opacity 550ms ease-in, transform 500ms ease-in;
    opacity: 0;
}

.emoji {
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
}

.intro-text {
    font-family:'Fira Mono', monospace;
    display: block;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    color: black;
    margin-top: 1rem;    
}

/* typing cursor */
.intro-text::after {
    content: "";
    border-right: 5px solid black;
    margin-left: 2px;
    animation: blink 0.5s ease-in-out infinite;
}

/* animations */
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.translate-up {
    transform: translateY(-100%);
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;    
}

/* hide non-animated intro text from view but not from screen readers */
.screen-reader-only {
    opacity: 0;
}

main {
    font-family:'Lato', sans-serif; 
    text-align: center;
}

/* Layout */

.flex {
    display: flex;
}

/* this has not been applied in HTML yet */
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Text Content */

.section-title {
    width: fit-content;
    font-size: 1.5rem;
    text-align: left;
    align-self: flex-start;
    padding: 0.5rem 1rem 0 5rem;
    background-color: transparent;
    border-bottom: 3px solid pink;
}

.text-container {
    line-height: 1.4;
    font-size: 1.2rem;    
    padding: 1rem 1.5rem;
    text-align: justify;
    position: relative;
    overflow: hidden;
}

.text-container p {
    padding: 1rem 0;
}

.text-btn-container{
    position: relative;
    /* ensure button is on top of music player */
    z-index: 100;
}

.js-disabled .text-btn {
    display: none;
}

.text-btn {
    border: transparent;
    font-size: 2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    transition: opacity 300ms ease-out, transform 200ms linear;
    background-color: inherit;
}

.text-btn:hover {
    opacity: 0.5;
}

.text-btn[aria-expanded = "true"] {
    transform: rotate(90deg);
    transition: transform 300ms ease-in;
}

.text-reveal {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease-in, visibility 500ms ease-in;    
}

.text-hide {
    /* hide from screen readers */
    visibility: hidden;
    /* remove element from flow */
    position: absolute;
    opacity: 0;
}

.text-container a , .info-text a {
    color: rgb(102, 100, 100)
}

.text-container a:hover, .info-text a:hover {
    opacity: 0.5;
}

.italic {
    font-style: italic;
}

/* Vectors */

.vector-container {
    width: 28rem;
}

.vector-container img {
    max-width: 100%;
}

/* Navigation */

nav {
    position: relative;
}

/* hide the menu and 'X' icon when JS is enabled in the browser */
.js-enabled .menu, .js-enabled .fa-times {
    display: none;
}

.hamburger {
    font-family:'Encode Sans Semi Expanded', sans-serif;  
    margin: 0.5rem 0.5rem 0 0;
    padding: 0;
    border: 1px solid transparent;
    background-color: inherit; 
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 0rem;
    cursor: pointer;  
}

.fa-bars {
    font-size: 2.5rem;
    color: rgb(83, 65, 68);
}

.fa-times {
    font-size: 2.5rem;
    color: rgb(83, 65, 68);
}

.hamburger[aria-expanded ="true"] {
    background-color: rgba(252, 199, 212, 0.726);
}

.hamburger[aria-expanded ="true"] .fa-bars {
    display: none;
}

/* display 'X' icon when hamburger is expanded */
.hamburger[aria-expanded ="true"] .fa-times {
    display: block;
}

/* sibling selector to select the menu when hamburger is expanded */
.hamburger[aria-expanded ="true"] + .menu {
    display: block;
    text-align: center;
    padding-top: 5rem;
    width: 100%;
    box-shadow: 0px 6px 6px -4px rgb(236, 234, 234);
    background-color: rgb(255,255,255, 0.8);
}

.menu {
    font-family:'Encode Sans Semi Expanded', sans-serif;
    font-weight: 500;
}

.menu-item {
    padding-bottom: 1.5rem;
    color: rgb(53, 50, 50);
}


/* Landing page */

header {
    background-image: 
    linear-gradient(0deg, rgb(247,247,247,0.5), rgba(255, 189, 227, 0.4) 95%),
    url("../media/images/banner-mobile-leone-venter-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    background-position: top right;
    position: relative;
    
}

/* About */

.about {
    /* background-color: #F5F4F4; */
    background-color: #fff;
    
}

/* Projects */

section.projects {
    --clr-gray: #37474f;
    --clr-gray-light: #b0bec5;
    --box-shadow: 0px 2px 8px 0px #b0bec5;
    --bg-img-overlay: linear-gradient(0deg, rgba(80, 78, 78, 0.5),rgba(0, 0, 0, 0.5));
    overflow: hidden;
    padding: 2rem 0;
}

.projects .subtitle {
    padding-top: 2rem;
}

.projects p, .projects ul {
    font-size: 1.2rem;
}

.slider-btns {
    justify-content: space-between;
    width: 100%;
}

.slider-btns button {
    background-color: transparent;
    border: transparent;
    margin: 2rem;
    font-size: 2rem;
}

.view-port {
    background-color: transparent;
    height: 30rem;
    width: 23rem;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 2rem;
    box-shadow: var(--box-shadow);
}

.project-cards-container {
    display: inline-flex;
    justify-content: start;       
}

.card-transition {
    transition: transform 0.4s;
}

.card {
    position: relative;
    height: 30rem;
    width: 23rem;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    border-radius: 1rem;
    transition: transform 400ms ease-out;
}

.tag-container {
    padding: 1rem 0.5rem;
    justify-content: center;
    height: 5rem;
}

.tag-container > span {
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    font-size: 0.875rem;
    color: #fff;
}

.projects span > i {
    margin-right: 0.5rem;
}

.wip-tag {
    background-color: var(--clr-gray);
}

.html-tag {
    background-color: orangered;
}

.css-tag {
    background-color: purple;
}

span.js-tag {
    background-color: #F7E019;
    color: rgb(43, 42, 42);
    font-size: 1rem;
}

/* deduct the tag-container height from the overall card height to set the img-and-info-container height */
.img-and-info-container {
    /* height: calc(30rem - var(--tag-container-height)); */
    height: 25rem;
}

.project-img {
    position: absolute;
    height: inherit;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;   
}

.tribute-page .project-img {
    background-image: linear-gradient(0deg, rgba(80, 78, 78, 0.5), rgba(129, 46, 54, 0.671), rgba(250, 160, 167, 0.5)), url("../media/images/project-tribute-page.jpg");
}

.score-keeper .project-img {
    background-image: var(--bg-img-overlay), url("../media/images/project-score-keeper.jpg");
}

.js-30 .project-img {
    background-color: #4cfa949f;
}

.oando .project-img {
    background-image: var(--bg-img-overlay), 
    url("../media/images/project-oandoduo.jpg");
}

.tortoise-race .project-img {
    background-image: linear-gradient(0deg, rgba(80, 78, 78, 0.5)50%, rgba(0, 0, 0, 0.5)), url("/media/images/project-tortoise-race.jpg");
    background-position: center;
}

.colmar-academy .project-img {
    background-image: var(--bg-img-overlay), 
    url("../media/images/project-colmar-academy.jpg");
    background-position: right;
}

.project-title {
    color: #fff;
    font-size: 3rem;
    text-shadow: -1px 3px 7px rgba(0, 0, 0, 0.5);
    transition: opacity 500ms ease;
}

.info-container {
    position: relative;
    height: inherit;
    opacity: 0;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.897);
    transform: translateY(26rem);
    transition: transform 400ms linear, opacity 400ms ease-out;    
}

.info-project-title {
    padding: 2rem 2rem 1rem 2rem;
    font-size: 1.5rem;
}

.info-text, .features-title, .features-list {
    padding: 0 2rem;
}

.info-text {
    line-height: 1.2;
}

.features-title {
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.features-list {
    padding-bottom: 1rem;
}

.features-list li {
    padding-bottom: 1rem;
    display: flex;
}

.features-list i {
    padding-right: 0.5rem;
}

.tortoise-race .features-list {
    font-size: 1.0625rem;
}

.credit {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    width: max-content;
}

.btn-container {
    width: 100%;
    height: 2.5rem;
    justify-content: center;
    position: absolute;
    bottom: 0rem;
}

.btn-container button {
    width: 100%;
    border: transparent;
    /* padding: 0.5rem; */
    font-family: inherit;
    font-size: 1.0625rem;
    color: #fff;
    text-shadow: -1px 3px 7px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn-container a {
    padding: 0.7rem 2.5rem;
}

.live-btn {
    background-color: rgba(3, 114, 3, 0.74);   
    transition: color 300ms linear; 
}

.live-btn:hover {
    color: #243138;;
    text-shadow: none;
    font-weight: bold;
}

.code-btn {
    background-color: var(--clr-gray);
    transition: color 300ms linear; 
}

.code-btn:hover {
    color: rgba(161, 248, 161, 0.74);    
}

.credit:hover {
    opacity: 0.5;
}

.card:hover .info-container {
    transform: translateY(0);
    opacity: 1;    
}

.card:hover .project-title {
    opacity: 0;
} 

/* Styles for JS disabled browsers */

.js-disabled section.projects {
    margin-bottom: 3rem;
}
/* display all projects on a grid instead of slider if js is disabled */
.js-disabled .project-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 23rem);
    justify-content: center;
    gap: 1.5rem;
}

.js-disabled .view-port {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.js-disabled .card {
    margin: 0;
    box-shadow: var(--box-shadow);
}

/* set a fixed height if js is disabled */
.js-disabled .img-and-info-container {
    height: 25.10rem;
}

.js-disabled .slider-btns {
    display: none;
}

/* Background */

.music-section {
    /* font-family: 'Lato', sans-serif; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 3rem 0;
}

.music-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
.music-section h2 {
    padding-top: 2.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
} */

/* Music Player */
.music-player {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 1rem;
    border-radius: 1rem;
    width: 80%;
}

.artwork-container-square {
    margin: 1.5rem 1.5rem 0 1.5rem;
    box-shadow: 
    /* top */
    0px -10px 15px -7px rgba(221, 220, 220, 0.75),
    /* bottom */
    0px 15px 18px -7px rgba(207, 205, 205, 0.75),
    /* right */
    12px 0px 18px -7px rgba(217,213,213,0.65),
    /* left */
    -12px 0px 18px -7px rgba(217,213,213,0.75);
}

.artwork-container-square img {
    max-width: 100%; 
    /* remove inexplicable white space under img */
    margin-bottom: -2px;   
}

.artwork-container {
    display: none;
}

.music-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25rem 2rem;
    position: relative;
    margin-top: 5rem;
    z-index: 10;
    border-radius: inherit;
}

.music-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffffbe;;
    padding: 1rem 0 0 0;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
    transition: transform 300ms ease-in, opacity 300ms ease-in;
    
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container {
    background-color: #cdc2d0;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.6rem 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: #f68e88CC;
    border-radius: inherit;
    height: 100%;
    width: 0%;
    transition: width 100ms linear;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: #fff;
    border: 0;
    color: #dfdbdf;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 1rem;
    margin: 0 1.25rem;
}

.action-btn-big {
    color: #cdc2d0;
    font-size: 1.5rem;
}

.action-btn:focus {
    outline: 0;
}

/* Use the below as a model for all the different color gradients */
.pink {
    background-color: #f68e88;
}

.pink-bg {
    background-image: linear-gradient(
        0deg,
        #f7f7f7 23.8%,
        #fcdddd 92%
        );
    }
    
.pink-shadow {
    box-shadow: 0 20px 20px 0 #fca9a999;
}
    
.blue {
    background-color: #006184;
}

.blue-bg {
    background-image: linear-gradient(
        0deg,
        #dff3fa 23.8%,
        #c0ebfa 92%
    );
}
        
.blue-shadow {
    box-shadow: 0 20px 20px 0 #a9cdfc99;
}
        
.green {
    background-color: #1a4d31;
}
        
.green-bg {
    background-image: linear-gradient(
        0deg,
        #cdf5e1 23.8%,
        #0c4d28 92%
    );
}
            
.green-shadow {
    box-shadow: 0 20px 20px 0 #6b977e99;
}
            
.red {
    background-color: #930118;
}
            
.red-bg {
    background-image: linear-gradient(
        0deg,
        #fdd9de 23.8%,
        #af0a23 92%
    );
}
                
.red-shadow {
    box-shadow: 0 20px 20px 0 #ec8c9999;
}

/* Pre requisites */

.pre-req {
    padding: 2rem 0;
    background-color: #E6E5E1;
}

.profile-cards-container {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 30rem));
    justify-content: center;
    gap: 1.2rem; 

}

.overflow-container {
    overflow: hidden;
    border-radius: 20px;
    transition: opacity 400ms ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.profile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7f1;
    position: relative;
    overflow: hidden;  
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
    border-radius: 20px;    
}

.profile-info {
    text-align: left;
    padding: 4rem 0 4rem 2rem;
}

.profile-info > * {
    padding: 0.5rem 0;
}

.profile-info > h3 {
    font-size: 1.2rem;
}

.profile-link {
    height: 100%;
    width: 30%;
    
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; 
    z-index: 100;   
}

.logo-container img {
    max-width: 100%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 5px 15px 5px rgba(59, 59, 59, 0.35);
    transition: all 400ms ease-in-out;
    z-index: 100;
}

.github img, .repl img {
    border-radius: 50%;
    margin-bottom: -2px;
}

.logo-container img:hover {
    transform: scale(0.9);
    box-shadow: 0px 5px 15px 8px rgba(37, 37, 37, 0.35);
}

.design-circle {
    position: absolute;
    right: 7px;
    bottom: 7px;
    width: 1rem;
    height: 1rem;
    background-color: #035572;
    border-radius: 1rem;
    outline: transparent;
    box-shadow: none;
    border: none;
    mix-blend-mode: hard-light;
    transition: transform 400ms ease-in;
}

.overflow-container:hover .design-circle {
    transform: scale(30);
}

.codewars .design-circle {
    background-color: #0b5e08 ;
}

.github .design-circle {
    background-color: #cc4230
}

.repl .design-circle {
    background-color: #cc30c4
}

.overflow-container.pointer-cursor {
    cursor: pointer;
}

/* 'Hover on everything but' trick causing the design-circle scale transform to become glitchy: */

/* .profile-cards-container:hover > .overflow-container {
    opacity: 0.5;
}

.profile-cards-container:hover > .overflow-container:hover {
    opacity: 1.0; 
} */

/* media query for desktop / laptop */
@media only screen and (min-width: 1024px) {

    /* Text styles */

    .text-container {
        line-height: 1.4;
        font-size: 1.5rem;    
        padding: 1rem 8rem;
        text-align: left;
    }

    .text-btn{
        position: initial;
        font-size: 1.8rem;
    }

    /* Vectors */

    .about .text-container{
        display: block;
    }

    .about .vector-container {
        float: right;
    }

    .application .vector-container {
        width: 32rem;
    }

    /* Navigation */
    
        .hamburger {
            display: none;
        }
    
        .js-disabled nav, .js-enabled nav {
            display: flex;
            margin-right: 0.5rem;
        }
    
        /* change layout of menu. if JS is disabled, the aria-expanded will be true by default  */
        .js-disabled .hamburger[aria-expanded ="true"] + .menu, .js-enabled .menu  {
            display: flex;
            padding-top: 0;
            width: unset;
            background-color: unset;
            box-shadow: unset;
        }  
        
        .menu-item {
            margin: 1rem 0;
            padding: 0rem 1rem;
            font-size: 1.2rem;
            border-right: 1px solid rgb(83, 65, 68);
        }
    
        .menu li:last-child {
            border-right: none;
        }   
    
    /* Landing page */

        header {
            background-image: 
            linear-gradient(0deg, rgb(247,247,247,0.5), rgba(255, 189, 227, 0.4) 95%),
            url("../media/images/banner-leone-venter-unsplash.jpg");
        }

    /* Projects */

        .slider > button:hover {
            opacity: 0.5;
        }

        .view-port {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 35rem;
            width: 81rem;
            margin: 0;
            box-shadow: unset;
            overflow: hidden;
        }

        .card {
            margin: 0 2rem;
            box-shadow: var(--box-shadow);
        }

        .card:hover {
            transform: scale(1.03);
        }

    
    /* Music Player */
        .music-section {
            justify-content: flex-start;
        }
        
        /* .music-section-content {
            display: flex;
            flex-direction: row;    
        } */

        .music-section-content .about-text {
            text-align: justify;
        }

        .music-player {
            background-color: transparent;
            margin-bottom: 3rem;
            transition: transform 300ms ease-in, margin 300ms ease-in;
            width: initial;
        }

        .music-player.play {
            transform: translateY(150%);
            margin-top: 10rem;
            margin-bottom: 18rem;
        }

        .music-container {
            flex-direction: row;
        }

        /* hide square artwork */
        .artwork-container-square {
            margin-bottom: 1rem;
        }

        /* display rotating circle artwork */
        .artwork-container {
            display: block;
            position: relative;
            width: 6.87rem;
        }
        
        .artwork-container img {
            width: inherit;
            height: 6.87rem;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 0;
            animation: rotate 3s linear infinite;
            animation-play-state: paused;
        }
        
        .music-container.play .artwork-container img {
            animation-play-state: running;
        }
        
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        .music-info {
            background-color: #ffffff80;
            padding-bottom: 2rem;
            /* width: 100%;
            left: 0; */
        }

    /* Pre Requisites */
    .profile-cards-container {
        margin: 2rem 8.5rem;
    }

    .profile-info {
        position: relative;
    }

    .profile-info > h3 {
        width: fit-content;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all 1s ease-in-out;
    }

    .profile:hover h3 {
        top: 1rem;
        transform: translateY(0);
        transition: all 500ms ease-out;
    }

    .profile-info p:nth-child(2), .profile-info p:nth-child(3), .profile-info p:nth-child(4), .profile-info p:nth-child(5) {
            visibility: hidden;
            transform: translateY(3rem);
            opacity: 0;
            transition: visibility 300s linear 300ms, opacity 300ms ease-in, transform 1s;
        }

        .profile-info p:nth-child(2) {
            transition-delay: 300ms;
        }

        .profile-info p:nth-child(3) {
            transition-delay: 300ms;
        }

        .profile-info p:nth-child(4) {
            transition-delay: 200ms;
        }

        .profile-info p:nth-child(5) {
            transition-delay: 100ms;
        }

        .profile:hover p:nth-child(2), .profile:hover p:nth-child(3), .profile:hover p:nth-child(4), .profile:hover p:nth-child(5) {
            visibility: visible;
            opacity: 1;
            transform: translateY(0); 
        }
}

@media only screen and (min-width: 750px) and (max-width: 1024px) {
    .music-player {
        width: 60%;
    }
}
    
  /* Test for css variables */
    /* :root {
    --bg-color: white;
    --text-color: blueviolet;
    --btn-text: red;
    }

    body {    
      background-color: var(--bg-color);
      color:var(--text-color);
    }

    button a {
        color: var(--btn-text);
    }

    button.dark-mode {
        color:var(--btn-text)
    }

  /* for js */
  /* .dark-mode {
      --bg-color: #243138;
      --text-color: rgb(136, 111, 111);
  } */ 
                
/* Not used yet */
                .shiny-button {
                    margin-top: 1rem;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    padding: 1rem 5rem;
                    text-transform: uppercase;
                    color: whitesmoke;
                    background: #c94b4b; /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #4b134f 0%, #c94b4b 50%, #4b134f 100%);
                      /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #4b134f 0%, #c94b4b 50%, #4b134f 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
                    background-size: 300% 300%;
                    transition: background-position 300ms;    
                } 
                
                .banner .shiny-button:hover {
                    background-position: right center;
                }



