

main {
    font-family:'Lato', sans-serif; 
    text-align: center;
}

/* Layout */

.flex {
    display: flex;
}

/* this has not been applied in HTML yet */
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Text */

.section-title {
    width: fit-content;
    font-size: 1.5rem;
    padding: 2rem 0;
    text-align: left;
    padding: 0.5rem 1.5rem 0.5rem 5rem;
    background-color: pink;
}

/* Navigation */

nav {
    position: relative;
}

/* hide the menu and 'X' icon when JS is enabled in the browser */
.js-enabled .menu, .js-enabled .fa-times {
    display: none;
}

.hamburger {
    font-family:'Encode Sans Semi Expanded', sans-serif;  
    margin: 0.5rem 0.5rem 0 0;
    padding: 0;
    border: 1px solid transparent;
    background-color: inherit; 
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 0rem;
    cursor: pointer;  
}

.fa-bars {
    font-size: 2.5rem;
    color: rgb(83, 65, 68);
}

.fa-times {
    font-size: 2.5rem;
    color: rgb(83, 65, 68);
}

.hamburger[aria-expanded ="true"] {
    background-color: rgba(252, 199, 212, 0.726);
}

.hamburger[aria-expanded ="true"] .fa-bars {
    display: none;
}

/* display 'X' icon when hamburger is expanded */
.hamburger[aria-expanded ="true"] .fa-times {
    display: block;
}

/* sibling selector to select the menu when hamburger is expanded */
.hamburger[aria-expanded ="true"] + .menu {
    display: block;
    text-align: center;
    padding-top: 5rem;
    width: 100%;
    box-shadow: 0px 6px 6px -4px rgb(236, 234, 234);
    background-color: rgb(255,255,255, 0.8);
}

.menu {
    font-family:'Encode Sans Semi Expanded', sans-serif;
    font-weight: 500;
}

.menu-item {
    padding-bottom: 1.5rem;
    color: rgb(53, 50, 50);
}


/* Banner */

header {
    background-image: 
    linear-gradient(0deg, rgb(247,247,247,0.5), rgba(255, 189, 227, 0.4) 95%),
    url(/media/images/banner-mobile-leone-venter-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    background-position: top right;
    position: relative;
    
}

.banner {
    font-family:'Fira Mono', monospace;
    position: absolute;   
    top: 20rem;
    left: 4rem;
}

/* show banner-title without animation on tablet and mobile screens */
.banner-title--no-animation {
    font-size: 1.5rem;
    line-height: 1.3;

}

/* hide animated banner-title */
.banner-title {
    display: none;
}

/* About */

.about {
    background-color: #F5F4F4;
    
}

.about-text {
    line-height: 1.4;
    font-size: 1.2rem;    
    padding: 2rem;
}

/* Projects */

section.projects {
    --clr-gray: #37474f;
    --clr-gray-light: #b0bec5;
    --box-shadow: 0px 2px 8px 0px #b0bec5;
    overflow: hidden;
    padding: 2rem 0;
}

.slider-btns {
    justify-content: space-between;
    width: 100%;
}

.slider-btns button {
    background-color: transparent;
    border: transparent;
    margin: 2rem;
    font-size: 2rem;
}

.view-port {
    background-color: transparent;
    height: 30rem;
    width: 23rem;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 2rem;
    box-shadow: var(--box-shadow);
}

.project-cards-container {
    display: inline-flex;
    justify-content: start;       
}

.card-transition {
    transition: transform 0.4s;
}

.card {
    position: relative;
    height: 30rem;
    width: 23rem;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    border-radius: 1rem;
    transition: transform 400ms ease-out;
}

.tag-container {
    padding: 1rem 0.5rem;
    justify-content: center;
}

.tag-container > span {
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    font-size: 14px;
    color: #fff;
}

.projects span > i {
    margin-right: 0.5rem;
}

.wip-tag {
    background-color: var(--clr-gray);
}

.html-tag {
    background-color: orangered;
}

.css-tag {
    background-color: purple;
}

/* deduct the tag-container height from the overall card height to set the img-and-info-container height */
.img-and-info-container {
    height: calc(30rem - var(--tag-container-height));
}

.project-img {
    position: absolute;
    height: inherit;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;   
}

.project1 .project-img {
    background-color: #fa4c4c9f;
}

.project2 .project-img {
    background-color: #4c66fa9f;
}

.project3 .project-img {
    background-color: #4cfa949f;
}

.oando .project-img {
    background-image: linear-gradient(0deg, rgba(80, 78, 78, 0.5)50%, rgba(0, 0, 0, 0.5)), 
    url(/media/images/project-oandoduo.png);
}

.score-keeper .project-img {
    background-color: #f70073be;
    /* background-image: linear-gradient(0deg, rgba(80, 78, 78, 0.5)50%, rgba(0, 0, 0, 0.5)), url(/media/images/andrey-metelev-DEuansgqjns-unsplash.jpg); */
}

.tribute-page .project-img {
    background-color: #01aeb4;
    /* background-image: linear-gradient(0deg, rgba(80, 78, 78, 0.5)50%, rgba(0, 0, 0, 0.5)), url(/media/images/banner-leone-venter-unsplash.jpg); */
}

.project-title {
    color: #fff;
    font-size: 3rem;
}

.info-container {
    position: relative;
    height: inherit;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.897);
    transform: translateY(26rem);
    transition: transform 400ms linear, opacity 400ms ease-out;    
}

.card:hover .info-container {
    transform: translateY(0);
    opacity: 1;    
}

.info-project-title {
    padding-top: 1rem;
    font-size: 1.5rem;
}

.info-text {
    margin: 1rem 2rem 3rem;
}

.btn-container {
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0rem;
}

.btn-container button {
    width: 100%;
    border: transparent;
    padding: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
}

.live-btn {
    background-color: rgba(3, 114, 3, 0.74);    
}

.code-btn {
    background-color: var(--clr-gray);
}


/* Music Player */

.music-section {
    /* font-family: 'Lato', sans-serif; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 3rem 0;
    overflow: hidden;
}
/* 
.music-section h2 {
    padding-top: 2.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
} */

.music-player {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 1rem;
    border-radius: 1rem;
}

.artwork-container-square {
    margin: 1.5rem 1.5rem 0 1.5rem;
    box-shadow: 
    /* top */
    0px -10px 15px -7px rgba(221, 220, 220, 0.75),
    /* bottom */
    0px 15px 18px -7px rgba(207, 205, 205, 0.75),
    /* right */
    12px 0px 18px -7px rgba(217,213,213,0.65),
    /* left */
    -12px 0px 18px -7px rgba(217,213,213,0.75);
}

.artwork-container-square img {
    max-width: 100%; 
    /* remove inexplicable white space under img */
    margin-bottom: -2px;   
}

.artwork-container {
    display: none;
}

.music-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25rem 2rem;
    position: relative;
    margin-top: 5rem;
    z-index: 10;
    border-radius: inherit;
}

.music-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffffbe;;
    padding: 1rem 0 0 0;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
    transition: transform 300ms ease-in, opacity 300ms ease-in;
    
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container {
    background-color: #cdc2d0;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.6rem 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: #f68e88CC;
    border-radius: inherit;
    height: 100%;
    width: 0%;
    transition: width 100ms linear;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: #fff;
    border: 0;
    color: #dfdbdf;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 1rem;
    margin: 0 1.25rem;
}

.action-btn-big {
    color: #cdc2d0;
    font-size: 1.5rem;
}

.action-btn:focus {
    outline: 0;
}
/* Use the below as a model for all the different color gradients */
.pink {
    background-color: #f68e88;
}

.pink-bg {
    background-image: linear-gradient(
        0deg,
        #f7f7f7 23.8%,
        #fcdddd 92%
        );
    }
    
.pink-shadow {
    box-shadow: 0 20px 20px 0 #fca9a999;
}
    
.blue {
    background-color: #006184;
}

.blue-bg {
    background-image: linear-gradient(
        0deg,
        #dff3fa 23.8%,
        #c0ebfa 92%
    );
}
        
.blue-shadow {
    box-shadow: 0 20px 20px 0 #a9cdfc99;
}
        
.green {
    background-color: #1a4d31;
}
        
.green-bg {
    background-image: linear-gradient(
        0deg,
        #cdf5e1 23.8%,
        #0c4d28 92%
    );
}
            
.green-shadow {
    box-shadow: 0 20px 20px 0 #6b977e99;
}
            
.red {
    background-color: #930118;
}
            
.red-bg {
    background-image: linear-gradient(
        0deg,
        #fdd9de 23.8%,
        #af0a23 92%
    );
}
                
.red-shadow {
    box-shadow: 0 20px 20px 0 #ec8c9999;
}

@media only screen and (min-width: 1024px) {

    /* Navigation */
    
        .hamburger {
            display: none;
        }
    
        .js-disabled nav, .js-enabled nav {
            display: flex;
            margin-right: 0.5rem;
        }
    
        /* change layout of menu. if JS is disabled, the aria-expanded will be true by default  */
        .js-disabled .hamburger[aria-expanded ="true"] + .menu, .js-enabled .menu  {
            display: flex;
            padding-top: 0;
            width: unset;
            background-color: unset;
            box-shadow: unset;
    
        }  
        
        .menu-item {
            margin: 1rem 0;
            padding: 0rem 1rem;
            font-size: 1.2rem;
            border-right: 1px solid rgb(83, 65, 68);
        }
    
        .menu li:last-child {
            border-right: none;
        }   
    
    /* Banner */

        header {
            background-image: 
            linear-gradient(0deg, rgb(247,247,247,0.5), rgba(255, 189, 227, 0.4) 95%),
            url(/media/images/banner-leone-venter-unsplash.jpg);
        }
    
        .banner {
            display: block;
            top: 18rem;
            left: 23rem;
        }

        /* animated banner title */
        .banner-title {
            display: block;
            font-size: 2rem;
            line-height: 1.2;
            text-align: center;
            color: black;
        }

        .banner-title::after {
            content: "";
            border-right: 5px solid black;
            margin-left: 2px;
            animation: blink 0.5s ease-in-out;
            animation-iteration-count: 21;
        }
        
        @keyframes blink {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        .js-disabled .banner-title::after {
            display: none;
        }

        /* if js is enabled hide non-animated banner title from view but not from screen readers */
        .js-enabled .banner-title--no-animation {
        opacity: 0;
        }

    /* Projects */

        /* display all projects on a grid instead of slider if js is disabled */
        .js-disabled .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, 22rem);
            justify-content: center;
        }

        /* set a fixed height if js is disabled */
        .js-disabled .img-and-info-container {
            height: 24.25rem;
        }

        .slider > button:hover {
            opacity: 0.5;
        }

        .view-port {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 35rem;
            width: 81rem;
            margin: 0;
            box-shadow: unset;
            overflow: visible;
        }

        .card {
            margin: 0 2rem;
            box-shadow: var(--box-shadow);
        }

        .card:hover {
            transform: scale(1.03);
        }
    
    /* Music Player */
        .music-section-content {
            display: flex;
            flex-direction: row;
        }

        .music-player {
            background-color: transparent;
            margin-top: 27rem;
        }

        .music-container {
            flex-direction: row;
        }

        /* hide square artwork */
        .artwork-container-square {
            margin-bottom: 1rem;
        }

        /* display rotating circle artwork */
        .artwork-container {
            display: block;
            position: relative;
            width: 6.87rem;
        }
        
        .artwork-container img {
            width: inherit;
            height: 6.87rem;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 0;
            animation: rotate 3s linear infinite;
            animation-play-state: paused;
        }
        
        .music-container.play .artwork-container img {
            animation-play-state: running;
        }
        
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        .music-info {
            background-color: #ffffff80;
            padding-bottom: 2rem;
            /* width: 100%;
            left: 0; */
        }
}
                
                
/* Not used yet */
                .shiny-button {
                    margin-top: 1rem;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    padding: 1rem 5rem;
                    text-transform: uppercase;
                    color: whitesmoke;
                    background: #c94b4b; /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #4b134f 0%, #c94b4b 50%, #4b134f 100%);
                      /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #4b134f 0%, #c94b4b 50%, #4b134f 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
                    background-size: 300% 300%;
                    transition: background-position 300ms;    
                } 
                
                .banner .shiny-button:hover {
                    background-position: right center;
                }



