:root {
    /* fonts */
    --main-font: 'Lato', sans-serif; 
    /* body background */
    --bg-gradient: linear-gradient(to right top, #ffd9c3, #fed7c0,
    #fcd4bd, #fbd2ba, #f9cfb7);  
    /* text colors */
    --main-text-clr: rgb(64,46,50);
    --h1-clr: rgb(47,11,56);
    --section-title-clr: rgb(82,62,104);
    --text-links-clr: rgb(78, 30, 90);
    --text-links-underline-clr: rgb(171,133,180);
    --light-text-clr: rgb(245, 226, 226); 
    /* button colors */
    --arrow-icons-clr: rgb(110, 93, 128); 
    
}

/* .dark-mode {
    --bg-gradient: #2F4858;
    --main-text-clr: rgb(241, 220, 220);
} */

html, body {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-gradient);
    color: var(--main-text-clr);
     
}

header {
    background: linear-gradient(to top, #fcd4bd, #fbd3bb, #fbd2ba, #fad0b8, #f9cfb7);
}

main {
    font-family: var(--main-font);
    font-weight: 300;
    text-align: center;
    margin-top: -10rem;
}

section {
    scroll-snap-align: start;
    padding-top: 2rem;
}

/* Layout */

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Text Content */

.section-title-container {
    background-image: url("../media/vectors/title-bg-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 18rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coding-journey .section-title-container, .application .section-title-container {
    width: 20rem;
    background-image: url("../media/vectors/title-bg-3.png");
}

.projects .section-title-container, .pre-req .section-title-container {
    background-image: url("../media/vectors/title-bg-2.png");
}

.section-title {
    font-size: 1.5rem;
    color: var(--section-title-clr);
}

.text-container {
    line-height: 1.4;
    font-size: 1.2rem;    
    padding: 1rem 2rem;
    text-align: justify;
    position: relative;
    overflow: hidden;
}

.text-container p {
    padding: 1rem 0;
}

.text-btn-container{
    position: relative;
    /* ensure button is on top of music player */
    z-index: 1;
}

.text-btn-container i {
    color: var(--arrow-icons-clr);
}

.js-disabled .text-btn {
    display: none;
}

.text-btn {
    border: transparent;
    font-size: 2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    transition: opacity 300ms ease-out, transform 200ms linear;
    background-color: inherit;
}

.text-btn:hover {
    opacity: 0.5;
}

.text-btn[aria-expanded = "true"] {
    transform: rotate(90deg);
    transition: transform 300ms ease-in;
}

.text-reveal {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease-in, visibility 500ms ease-in;    
}

.text-hide {
    /* hide from screen readers */
    visibility: hidden;
    /* remove element from flow */
    position: absolute;
    opacity: 0;
}

 .text-container a, .cert-title {
    color: var(--text-links-clr);
    text-decoration: underline;
    text-decoration-color: var(--text-links-underline-clr);
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 1.2px;
}

.text-container a:hover, .info-text a:hover {
    opacity: 0.5;
}

.italic {
    font-style: italic;
}

/* Vectors */

.vector-container {
    max-width: 100vw;
}

.vector-container img {
    max-width: 100%;
}

.js-disabled .intro {
    display: none;
}

/* Intro */

.intro {
    height: 100vh;
    width: 100vw;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: white;
    position: fixed;
    top: 0;
    left: 0; 
    transition: transform 1s ease-out;
    /* UNCOMMENT THIS to see intro */
    display: none;
}

.intro-content {
    position: relative;
    transition: opacity 550ms ease-in, transform 500ms ease-in;
    opacity: 0;
}

.intro .emoji {
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
}

.intro-text {
    font-family:'Fira Mono', monospace;
    display: block;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    color: black;
    margin-top: 1rem;    
}

/* typing cursor */
.intro-text::after {
    content: "";
    border-right: 5px solid black;
    margin-left: 2px;
    animation: blink 0.5s ease-in-out infinite;
}

/* animations */
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.translate-up {
    transform: translateY(-100%);
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;    
}

/* hide non-animated intro text from view but not from screen readers */
.screen-reader-only {
    opacity: 0;
}

/* Navigation */

nav {
    position: relative;
}

 /* hide menu when js is enabled, but keep in flow  */
.js-enabled .menu {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transform: translateY(-80%);
    transition: all 500ms ease-in-out;
    text-align: center;
    padding-top: 2rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 6px 6px -4px rgb(207, 221, 241);
    background-color: rgb(223, 235, 253);
} 

/* hide the 'X' icon when js is enabled in the browser */
.js-enabled .fa-times {   
    display: none;
}

.hamburger {
    margin: 0.5rem 0.5rem 0 0;
    padding: 0;
    border: 1px solid transparent;
    background-color: inherit; 
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    position: absolute;
    right: 0rem;
    cursor: pointer;  
    z-index: 1;
    transition: background-color 400ms ease-in;
}

.fa-bars {
    font-size: 2.5rem;
    color: var(--main-text-clr);
}

.fa-times {
    font-size: 2.5rem;
    color: var(--main-text-clr);
}

.menu {
    font-family:'Encode Sans Semi Expanded', sans-serif;
    font-weight: 500;
}

.menu-item {
    padding-bottom: 1.5rem;
}

.hamburger[aria-expanded ="true"] {
    background-color: rgb(252, 212, 189);
}


.hamburger[aria-expanded ="true"] .fa-bars {
    display: none;
}

/* display 'X' icon when hamburger is expanded */
.hamburger[aria-expanded ="true"] .fa-times {
    display: block;
}

/* sibling selector to select the menu when hamburger is expanded */
.hamburger[aria-expanded ="true"] + .menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

/* Landing page */

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.welcome .vector-container {
    width: 32rem;
}

.welcome-content a {
    display: block;
    padding: 1rem;
}

.welcome-content h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
    color: var(--h1-clr);
}

.shiny-button {
    margin-top: 1.5rem;
    border: transparent;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 12rem;
    color: whitesmoke;
    background: #006C5E; /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #006C5E 0%, #659B90 50%, #006C5E 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #006C5E 0%, #659B90 50%, #006C5E 100%);   
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background-size: 300% 300%;
    transition: background-position 300ms;    
} 

.shiny-button:hover {
    /* move background to right edge of button to create shine effect */
    background-position: right center;
}

/* About */

.about {
    padding: 2rem 0;    
}

.about .vector-container {
    width: 18rem;
}

/* Application */
.application {
    padding-top: 2rem;
}

/* Projects */

section.projects {
    --clr-gray: #37474f;
    --box-shadow: 0px 2px 8px 0px #b0bec5;
    --bg-img-overlay: linear-gradient(0deg, rgba(80, 78, 78, 0.5),rgba(0, 0, 0, 0.5));
    overflow: hidden;
    padding: 2rem 0;
}

.projects p, .projects ul {
    font-size: 1.2rem;
}

.slider-btns {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.slider-btns button {
    background-color: transparent;
    border: transparent;
    margin: 1rem;
    padding: 1rem;
    font-size: 3rem;
    transition: opacity 300ms ease-out;
    color: var(--arrow-icons-clr);
}

.slider-btns button:hover {
    opacity: 0.5;
}

.view-port {
    background-color: transparent;
    height: 30rem;
    width: 23rem;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 2rem;
    box-shadow: var(--box-shadow);
}

.project-cards-container {
    display: inline-flex;
    justify-content: start;       
}

.card-transition {
    transition: transform 0.4s;
}

.card {
    position: relative;
    height: 30rem;
    width: 23rem;
    overflow: hidden;
    background-color: rgb(255,255,255);
    text-align: center;
    border-radius: 1rem;
    
}

.tag-container {
    padding: 1rem 0.5rem;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.tag-container > span {
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    font-size: 1rem;
    color: rgb(255,255,255);
}

.projects span > i {
    margin-right: 0.5rem;
}

.html-tag {
    background-color: orangered;
}

.css-tag {
    background-color: purple;
}

.tag-container .js-tag {
    background-color: #F7E019;
    color: rgb(43, 42, 42);
}

.tag-container .wip-tag {
    background-color: var(--clr-gray);
    font-size: 0.875rem;
}

.js-30 .tag-container {
    padding: 0.8125rem 0;
}

.js-30 .tag-container > span {
    font-size: 0.7rem;
}

.js-30 .tag-container i {
    margin-right: 0.1rem;
}

.img-and-info-container {
    height: 25rem;
}

.project-img {
    align-items: center; 
    justify-content: center;
    position: absolute;
    height: inherit;
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.tribute-page .project-img {
    background-color: rgb(136, 48, 54);
    background-image: url("/media/images/project-tribute-page.png");
    background-image: linear-gradient(0deg, rgba(80, 78, 78, 0.5), rgba(129, 46, 54, 0.26), rgba(250, 160, 167, 0.5)), url("/media/images/project-tribute-page.png");
}

.score-keeper .project-img {
    background-color: rgb(1, 134, 132);
    background-image: url("/media/images/project-score-keeper.png");
    background-image: var(--bg-img-overlay), url("/media/images/project-score-keeper.png");
}

.js-30 .project-img {
    background-color: rgb(93, 65, 104);
    background-image: url("/media/images/project-js30.png");
    background-image: var(--bg-img-overlay), url("/media/images/project-js30.png");
}

.oando .project-img {
    background-color: rgb(128, 0, 74);
    background-image: url("/media/images/project-oandoduo.png");
    background-image: var(--bg-img-overlay), 
    url("/media/images/project-oandoduo.png");
}

.tortoise-race .project-img {
    background-color: rgb(7, 78, 28);
    background-image: url("/media/images/project-tortoise-race.png");
    background-image: linear-gradient(0deg, rgba(80, 78, 78, 0.5)50%, rgba(0, 0, 0, 0.5)), url("/media/images/project-tortoise-race.png");
    background-position: center;
}

.colmar-academy .project-img {
    background-color: rgb(7, 58, 78);
    background-image: url("/media/images/project-colmar-academy.png");
    background-image: var(--bg-img-overlay), 
    url("/media/images/project-colmar-academy.png");
    background-position: right;
}

.project-title {
    color: rgb(255,255,255);
    font-size: 3rem;
    text-shadow: -1px 3px 7px rgba(0, 0, 0, 0.5);
    transition: opacity 500ms ease;
}

.info-container {
    position: relative;
    height: inherit;
    opacity: 0;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.897);
    transform: translateY(26rem);
    transition: transform 400ms linear, opacity 400ms ease-out;    
}

.info-project-title {
    padding: 2rem 2rem 1rem 2rem;
    font-size: 1.5rem;
}

.info-text, .features-title, .to-do-title, .features-list {
    padding: 0 2rem;
}

.info-text {
    line-height: 1.2;
}

.features-title {
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.features-list {
    padding-bottom: 1rem;
}

.features-list li {
    padding-bottom: 1rem;
    display: flex;
}

.features-list i {
    padding-right: 0.5rem;
}

.tortoise-race .features-list, .js-30 .features-list  {
    font-size: 1.0625rem;
}

.js-30 .features-list {
    padding-bottom: 0;
}

.js-30 h4:nth-of-type(2) {
    padding-top: 0;
}

.btn-container {
    width: 100%;
    height: 2.5rem;
    justify-content: center;
    position: absolute;
    bottom: 0rem;
}

.btn-container button {
    width: 100%;
    border: transparent;
    /* padding: 0.5rem; */
    font-family: inherit;
    font-size: 1.0625rem;
    color: rgb(255,255,255);
    text-shadow: -1px 3px 7px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn-container a {
    padding: 0.7rem 2.5rem;
}

.live-btn {
    background-color: rgba(3, 114, 3, 0.74);   
    transition: color 300ms linear; 
}

.live-btn:hover {
    color: rgb(36,49,56);
    text-shadow: none;
    font-weight: bold;
}

.code-btn {
    background-color: var(--clr-gray);
    transition: color 300ms linear; 
}

.code-btn:hover {
    color: rgba(161, 248, 161, 0.74);    
}

.card:hover .info-container {
    transform: translateY(0);
    opacity: 1;    
}

.card:hover .project-title {
    opacity: 0;
} 

/* Styles for JS disabled browsers */

.js-disabled section.projects {
    margin-bottom: 3rem;
}
/* display all projects on a grid instead of slider if js is disabled */
.js-disabled .project-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 23rem);
    justify-content: center;
    gap: 1.5rem;
}

.js-disabled .view-port {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.js-disabled .card {
    margin: 0;
    box-shadow: var(--box-shadow);
}

/* set a fixed height if js is disabled */
.js-disabled .img-and-info-container {
    height: 25.10rem;
}

.js-disabled .slider-btns {
    display: none;
}

/* Background */

.music-section {
    padding: 2rem 0 3rem 0;
}

.music-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Music Player */

.music-player {
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255);
    margin: 1rem;
    border-radius: 1rem;
    width: 80%;
}

.artwork-container-square {
    margin: 1.5rem 1.5rem 0 1.5rem;
    box-shadow: 
    /* top */
    0px -10px 15px -7px rgba(221, 220, 220, 0.75),
    /* bottom */
    0px 15px 18px -7px rgba(207, 205, 205, 0.75),
    /* right */
    12px 0px 18px -7px rgba(217,213,213,0.65),
    /* left */
    -12px 0px 18px -7px rgba(217,213,213,0.75);
}

.artwork-container-square img {
    max-width: 100%; 
    /* remove inexplicable white space under img */
    margin-bottom: -2px;   
}

.artwork-container {
    display: none;
}

.music-container {
    background-color: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25rem 2rem;
    position: relative;
    margin-top: 5rem;
    z-index: 1;
    border-radius: inherit;
    box-shadow: 0 20px 20px 0 rgb(233, 174, 140);
}

.music-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.795);
    padding: 1rem 0 0 0;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
    transition: transform 300ms ease-in, opacity 300ms ease-in;
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container {
    background-color: rgb(205,194,208);
    border-radius: 5px;
    cursor: pointer;
    margin: 0.6rem 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: rgba(246, 142, 136, 0.815);
    border-radius: inherit;
    height: 100%;
    width: 0%;
    transition: width 100ms linear;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.action-btn {
    background-color: rgb(255,255,255);
    border: 0;
    color: rgb(223,219,223);
    font-size: 1.25rem;
    cursor: pointer;
    padding: 1rem;
    margin: 0 1.25rem;
}

.action-btn-big {
    color: rgb(205,194,208);
    font-size: 1.5rem;
}


/* theme colors */

/* progress bar color */
.pink {
    background-color: #f68e88;
}

/* section bg gradient */
.pink-bg {
    background: linear-gradient(
        0deg,
        #f7f7f7 23.8%,
        #fcdddd 92%
        );
    }

/* music player shadow */
.pink-shadow {
    box-shadow: 0 20px 20px 0 #fca9a999;
}
    
.blue {
    background-color: #006184;
}

.blue-bg {
    background: linear-gradient(
        0deg,
        #dff3fa 23.8%,
        #c0ebfa 92%
    );
}
        
.blue-shadow {
    box-shadow: 0 20px 20px 0 #a9cdfc99;
}
        
.green {
    background-color: #1a4d31;
}
        
.green-bg {
    background: linear-gradient(
        0deg,
        #c1e4d2 60%,
        #68af87
    );
}
            
.green-shadow {
    box-shadow: 0 20px 20px 0 #6b977e99;
}
            
.red {
    background-color: #930118;
}
            
.red-bg {
    background: linear-gradient(
        0deg,
        #fcc1c9 60%,
        #ff6e84 
    );
}
                
.red-shadow {
    box-shadow: 0 20px 20px 0 #ec8c9999;
}

/* Coding Journey */

.coding-journey {
    padding: 2rem 0;
}

.timeline {
    position: relative;
    text-align: left;
    padding: 0.5rem 0;
    margin-top: 2rem;
}

/* timeline indicator */
.timeline::before {
    content: '';
    width: 5px;
    height: 100%;
    background-color: rgb(174,114,101);
    position: absolute;
    top: 0;
    left: 1rem; 
    border-radius: 2.5rem 2.5rem;
    z-index: 1;
}

.timeline-entry {
    margin-bottom: 2rem;
    position: relative;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 2.5rem;
    margin-right: 0.5rem;
    background-color: rgb(206,203,230);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);    
}

.timeline-entry:last-child {
    margin-bottom: 0;
}

/* circle */
.timeline-entry::before {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid rgb(95, 69, 105);
    border-radius: 1.5rem;
    z-index: 10;
    background-color:rgb(139,121,146);
    left: -2.1rem;
    top: 1.5rem;
}

/* date underline */
.timeline-entry-date::before {
    content: '';
    position: absolute;
    width: 13rem;
    height: 2px;
    background-color: rgb(153, 85, 70);
    top: 2.2rem;
    left: -1rem;
}

.timeline-entry-date {
    padding-top: 0.5rem;
    font-size: 1.2rem;
    padding-left: 1rem;
}

.timeline-entry-list {
    font-size: 1rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: start;
    padding: 1rem 1rem 0 1rem;
}

.timeline-entry-list .emoji {
    margin-right: 0.5rem;
    margin-top: 0.2rem;
}

.timeline-entry-list li {
    font-size: 1.1rem;
    line-height: 1.2;
    padding-bottom: 1rem;
}

/* tooltip button for course certificates */
.tooltip {
    position: absolute;
    left: 50%;
    width: 13rem;
    transform: translateX(-50%);
    top: 3rem;
    z-index: 10;
    background-color: rgb(233, 231, 231);
    border: transparent;
    cursor: pointer;
    padding: 1rem;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 400ms ease-in-out;
}

/* tooltip arrow */
.tooltip::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(233, 231, 231) transparent;
}

.tooltip img {
    max-width: 100%;
    height: auto;
}

.tooltip figcaption, .modal figcaption {
    padding-top: 0.5rem;
    text-align: center;
    color: #141C3A;
}

.cert-title {
    color: #141C3A;
    position: relative;
}

.cert-title:hover {
    color: rgb(20,28,58,0.5);
}

.cert-title:hover .tooltip, .cert-title:focus .tooltip  {
    visibility: visible;
    opacity: 1;
}

.tooltip:focus {
    visibility: visible;
    opacity: 1;
}

/* fixed modal that takes up the whole viewport  */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.712);
    visibility: hidden;
    opacity: 0;
    transition: all 400ms linear;
}

.modal.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

/* modal content */
.modal-certificate {
    background-color: rgb(233, 231, 231);
    padding: 2rem;
}

.modal-certificate img {
    max-width: 100%;
}

.modal-close-btn {
    border: transparent;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(233, 231, 231);
    font-size: 2rem;
    padding: 0.5rem;
    transition: color 400ms ease-in-out;
}

.modal-close-btn:hover {
    color: rgb(214, 207, 248);
}

/* Pre requisites */

.pre-req {
    padding: 2rem 0;
    background:linear-gradient(to right top, #ab8886, #ba9694, #c9a4a3,
    #d8b2b1, #e7c0c0);
}

.profile-cards-container {
    margin: 2rem 0;
    display: grid;
    justify-content: center;
    gap: 1.2rem; 
}

.overflow-container {
    overflow: hidden;
    border-radius: 20px;
    transition: opacity 400ms ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.profile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7f1;
    position: relative;
    overflow: hidden;  
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
    border-radius: 20px; 
    cursor: pointer;   
}

.profile-info {
    text-align: left;
    padding: 4rem 0 4rem 2rem;
}

.profile-info > * {
    padding: 0.5rem 0;
}

.profile-info > h3 {
    font-size: 1.2rem;
}

.profile-link {
    height: 100%;
    width: 30%;
    
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,255,255); 
    z-index: 10;   
}

.logo-container img {
    max-width: 100%;
    box-shadow: 0px 5px 15px 5px rgba(59, 59, 59, 0.35);
    transition: all 400ms ease-in-out;
    z-index: 10;
}

.github img, .repl img {
    border-radius: 50%;
    margin-bottom: -2px;
}

.logo-container img:hover {
    transform: scale(0.9);
    box-shadow: 0px 5px 15px 8px rgba(37, 37, 37, 0.35);
}

.design-circle {
    position: absolute;
    right: 7px;
    bottom: 7px;
    width: 1rem;
    height: 1rem;
    background-color: rgb(2,52,70);
    border-radius: 1rem;
    outline: transparent;
    box-shadow: none;
    border: none;
    mix-blend-mode: hard-light;
    transition: transform 400ms ease-in;
}

.overflow-container:hover .design-circle {
    transform: scale(30);
}

.codewars .design-circle {
    background-color: rgb(0,91,71);
}

.github .design-circle {
    background-color: rgb(204,66,48);
}

.repl .design-circle {
    background-color: rgb(114,35,86);
}

.overflow-container.pointer-cursor {
    cursor: pointer;
}

/* Footer */

footer {
    background: linear-gradient(to bottom, #3b4764, #38435f, #354059, #323c54, #2f394f);
    color: var(--light-text-clr);
}

.contact-details {
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 0.15rem;
    padding: 2rem;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dashed var(--arrow-icons-clr);
}

.contact-details button {
    font-size: 1.5rem;
    color: rgb(241, 220, 220);
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 3.5rem;
    background-color: var(--arrow-icons-clr);
    border: transparent;
    transition: opacity 400ms ease-in;
    margin: 0 0.2rem;
    cursor: pointer;
}

.contact-details button:hover {
    opacity: 0.5;
}

.credits {
    font-family: var(--main-font);
    font-weight: 100;
    padding: 1rem 2rem;   
    text-align: justify;    
}

.credit-links-container, .credits p {
    display: inline;
}

.credits a {
    text-decoration: underline;
    text-decoration-color: var(--text-links-underline-clr);
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 1.2px;
}


/* media query for desktop / laptop */
@media only screen and (min-width: 1024px) {

    html, body {
    scroll-padding-top: 3.2rem;
    }

    main {
        margin-top: 0;
    }

    /* Text styles */

    .text-container {
        line-height: 1.4;
        font-size: 1.5rem;    
        padding: 1rem 12rem;
        text-align: left;
    }

    .text-btn{
        position: initial;
        font-size: 1.8rem;
    }

    /* Vectors */

    .about .text-container{
        display: block;
    }

    .application .vector-container {
        width: 32rem;
    }

    /* Navigation */

        header {
            position: fixed;
            top: 0;
            left: 0; 
            width: 100%;
            z-index: 100;
        }
    
        .hamburger {
            display: none;
        }
    
        .js-disabled nav, .js-enabled nav {
            display: flex;
            margin-right: 0.5rem;
        }

        .js-enabled .menu {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            z-index: 20;
        }
    
        /* change layout of menu. if JS is disabled, the aria-expanded will be true by default  */
        .js-disabled .hamburger[aria-expanded ="true"] + .menu, .js-enabled .menu  {
            display: flex;
            padding-top: 0;
            width: unset;
            background-color: unset;
            box-shadow: unset;
        }  
        
        .menu-item {
            margin: 1rem 0;
            padding: 0rem 1rem;
            font-size: 1.2rem;
            border-right: 1px solid rgb(83, 65, 68);
        }
    
        .menu li:last-child {
            border-right: none;
        }   
    
    /* Landing page */

        .welcome {
            height: 100vh;
            margin-top: 4rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            
        }

        .welcome .vector-container {
            flex-basis: 55rem;
            order: 2;
        }

        .welcome-content {
            position: absolute;
            text-align: left;
            top: 12rem;
            left: 6rem;
        }

        .welcome-content h1 {
            font-size: 2rem;
        }

    /* About */
        
        .about .vector-container {
            float: right;
            clear: left;
            margin-left: 1rem;
        }

    /* Projects */

        .slider > button:hover {
            opacity: 0.5;
        }

        .view-port {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 35rem;
            width: 81rem;
            margin: 0;
            box-shadow: unset;
            overflow: hidden;
        }

        .card {
            margin: 0 2rem;
            box-shadow: var(--box-shadow);
            /* scal transition */
            transition: transform 400ms ease-out;
        }

        .card:hover {
            transform: scale(1.03);
        }

    
    /* Music Player */
        .music-section {
            justify-content: flex-start;
        }
        
        /* .music-section-content {
            display: flex;
            flex-direction: row;    
        } */

        .music-section-content .about-text {
            text-align: justify;
        }

        .music-player {
            background-color: transparent;
            margin-bottom: 3rem;
            transition: transform 300ms ease-in, margin 300ms ease-in;
            width: initial;
        }

        .music-player.play {
            transform: translateY(150%);
            margin-top: 10rem;
            margin-bottom: 18rem;
        }

        .music-container {
            flex-direction: row;
        }

        /* hide square artwork */
        .artwork-container-square {
            margin-bottom: 1rem;
        }

        /* display rotating circle artwork */
        .artwork-container {
            display: block;
            position: relative;
            width: 6.87rem;
        }
        
        .artwork-container img {
            width: inherit;
            height: 6.87rem;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 0;
            animation: rotate 3s linear infinite;
            animation-play-state: paused;
        }
        
        .music-container.play .artwork-container img {
            animation-play-state: running;
        }
        
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        .music-info {
            background-color: #ffffff80;
            padding-bottom: 2rem;
            /* width: 100%;
            left: 0; */
        }
    
    /* Coding Journey */

        .timeline {
            margin: 4rem 0;
            display: grid;
            row-gap: 1.5rem;
            grid-template-columns: repeat(2, 30rem);
            grid-template-areas: 
            "entry1 ."
            ". entry2"
            "entry3 ."
            ". entry4"
            "entry5 ."
            ". entry6"
            "entry7 ."
            ". entry8"
            "entry9 ."
            ". entry10"
            "entry11 ."
            ". entry12"
            "entry13 .";
        }

        .timeline-entry {
            transition: background-color 500ms ease-in-out;
        }

        .timeline-entry:hover {
            background-color: rgb(241,237,255);
        }

        .timeline-entry:nth-of-type(odd) {
            padding-left: 0;
            margin-right: 2.5rem;
            margin-left: 0.5rem;
        }

        /* move timeline indicator to middle of grid */
        .timeline::before {
            left: 29.9rem;
        }

        /* move date underline */
        .timeline-entry-date::before {
            top: 2.25rem;
        }

        /* circle of odd number entries */
        .timeline-entry:nth-of-type(odd)::before {
            left: 28.8rem;
        }

        /* circle of even number entries */
        .timeline-entry:nth-of-type(even)::before {
            left: -3.2rem;
        }

        /* underline of odd number entries */
        .timeline-entry:nth-of-type(odd) .timeline-entry-date::before {
            width: 29rem;
            left: unset;
            right: -2rem;
        }

        /* underline of even number entries */
        .timeline-entry:nth-of-type(even) .timeline-entry-date::before {
            width: 29rem;
            left: unset;
            right: 0;
        }

        .timeline-entry:nth-child(1) {
            grid-area: entry1;
        }

        .timeline-entry:nth-child(2) {
            grid-area: entry2;
        }

        .timeline-entry:nth-child(3) {
            grid-area: entry3;
        }

        .timeline-entry:nth-child(4) {
            grid-area: entry4;
        }

        .timeline-entry:nth-child(5) {
            grid-area: entry5;
        }

        .timeline-entry:nth-child(6) {
            grid-area: entry6;
        }

        .timeline-entry:nth-child(7) {
            grid-area: entry7;
        }

        .timeline-entry:nth-child(8) {
            grid-area: entry8;
        }

        .timeline-entry:nth-child(9) {
            grid-area: entry9;
        }

        .timeline-entry:nth-child(10) {
            grid-area: entry10;
        }

        .timeline-entry:nth-child(11) {
            grid-area: entry11;
        }

        .timeline-entry:nth-child(12) {
            grid-area: entry12;
        }

        .timeline-entry:nth-child(13) {
            grid-area: entry13;
        }
        

    /* Pre Requisites */

        .pre-req {
            display: block;
        }
        
        .pre-req .section-title-container {
            margin-left: 2rem;
        } 
        
        .profile-cards-container {
            margin: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(23rem, 30rem));
        }

        .profile-info {
            position: relative;
        }

        .profile-info > h3 {
            width: fit-content;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: all 1s ease-in-out;
        }

        .profile:hover h3 {
            top: 1rem;
            transform: translateY(0);
            transition: all 500ms ease-out;
        }

        .profile-info p:nth-child(2), .profile-info p:nth-child(3), .profile-info p:nth-child(4), .profile-info p:nth-child(5) {
                visibility: hidden;
                transform: translateY(3rem);
                opacity: 0;
                transition: visibility 300s linear 300ms, opacity 300ms ease-in, transform 1s;
            }

        .profile-info p:nth-child(2) {
                transition-delay: 300ms;
            }

        .profile-info p:nth-child(3) {
                transition-delay: 300ms;
            }

        .profile-info p:nth-child(4) {
                transition-delay: 200ms;
            }

        .profile-info p:nth-child(5) {
                transition-delay: 100ms;
            }

        .profile:hover p:nth-child(2), .profile:hover p:nth-child(3), .profile:hover p:nth-child(4), .profile:hover p:nth-child(5) {
                visibility: visible;
                opacity: 1;
                transform: translateY(0); 
            }

        /* Footer */

        .credit-links-container a {
            margin-right: 0.5rem;
        }

}

@media only screen and (min-width: 750px) and (max-width: 1024px) {

    .music-player {
        width: 60%;
    }    
}
                




